/*
Dark Green: #00673E;
Lime Green: #94C947;
Orange: #D94F2C;
*/

html {
  border-top: 4px solid #94C947;
}

#embed-youtube-container {
position: relative;
padding-top: 56.25%;
overflow: hidden;
width: 100%;
margin-bottom: 2rem;
}

#embed-youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

input {
 display: block;
 width: 90%;
 border: 1px solid #94C947;
}

.button {
  width: 100%;
  border: 1px solid #94C947;
}

.borderlimegreen1 { border: 1px solid #94C947; }
.borderlimegreen2 { border: 2px solid #94C947; }
.borderlimegreen3 { border: 3px solid #94C947; }
.borderlightgrey1 { border: 1px solid #E6E6E6; }
.borderlightgrey2 { border: 2px solid #E6E6E6; }
.borderlightgrey3 { border: 3px solid #E6E6E6; }

aside#rightrail .download::before {
  content: " ";
  display: inline-block;
  width: 1.2rem;
  height: 1.0rem;
  margin-right: 0.5rem;
  background: url("/images/svg/icon-download.svg") no-repeat left bottom;
}

aside#rightrail .submit::before {
  content: " ";
  display: inline-block;
  width: 1.0rem;
  height: 1.0rem;
  margin-right: 0.5rem;
  background: url("/images/svg/icon-submit.svg") no-repeat left bottom;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}

th {
  background-color: #94C947;
}

td {
  text-align: center;
  border-bottom: 1px solid #94C947;
  }

.attentionbox {
  display: block;
  border: solid 1px #94C947;
  margin-bottom: 1rem;
}

.attentionbox ul {
  margin-left: 1.5rem;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.attentionbox li::before {
  content:"•";
  display: inline-block;
  margin-right: .5em;
  margin-left: -1em;
  color: #94C947;
}

.tip {
  background: url('/images/svg/icon-tip.svg');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.5rem 0.5rem;
  padding: .5rem .5rem .5rem 3rem;
}

.achtung {
  background: url('/images/svg/icon-achtung.svg');
  background-repeat: no-repeat;
  background-size: 2.0rem;
  background-position: 10px center;
  padding: .5rem .5rem .5rem 3rem;
  border: solid 1px #D94F2C;
}

.reminder {
  background: url('/images/svg/icon-reminder.svg');
  background-repeat: no-repeat;
  background-size: 2.0rem;
  background-position: 10px center;
  padding: .5rem .5rem .5rem 3rem;
  border: solid 1px #94C947;
}

.shortcut {
  background: url('/images/svg/icon-shortcut.svg');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.5rem 0.5rem;
  padding: .5rem .5rem .5rem 3rem;
}

.filename {
  background: url('/images/svg/icon-filename.svg');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.5rem 0.5rem;
  padding: .5rem .5rem .5rem 2.5rem;
}
article .download {
  background: url('/images/svg/icon-download.svg');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.5rem 0.5rem;
  padding: .5rem .5rem .5rem 2.5rem;
}
aside#rightrail .filename {
  background: url('/images/svg/icon-filename.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: left center;
  padding-left: 1.25rem;
}

a.download {
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: 1rem;
}

.download a { margin-left:0.25rem; }

hr
{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 103, 62, 0.3);
}

.cell2 {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.card {
  margin: 1em 0 .5em 0;
  width: 100%;
  padding: .5em .5em 1em 1em;
  border: 1px solid #CCC;
  border-top: 8px solid #94C947;
  background-color: #fff;
}

.card .appsused { margin: .5em 0 .5em 0; }
.card:hover { border-top: 8px solid #00673E; }

aside#rightrail .attentionbox {
  border: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

aside#rightrail .button { 
  background-color: #94C947;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-bottom: .5rem;
  text-align: center;
  }

aside#rightrail .button a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  }

aside#rightrail .button a:hover {
  text-decoration: underline;
  color: #ffffff;
}
#rightrail ul, nav ul {
  margin-left: 0.5rem;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

#rightrail li::before {
  content:"•";
  display: inline-block;
  margin-right: .5em;
  margin-left: -1em;
}