:root {
    --limegreen100: rgb(160, 200, 90);
    --limegreen75: rgb(160, 200, 90, .75);
    --limegreen50: rgb(160, 200, 90, .50);
    --limegreen33: rgb(236, 244, 222);
    --darkgreen100: rgb(0, 103, 62);
    --darkgreen75: rgb(0, 103, 62, .75);
    --darkgreen50: rgb(0, 103, 62, .50);
    --darkgreen33: rgb(0, 103, 62, .33);
    --orange100: rgb(242, 101, 34);
    --orange75: rgb(242, 101, 34, .75);
    --orange50: rgb(242, 101, 34, .50);
    --orange33: rgb(242, 101, 34, .33);
    --darkgray: rgb(76, 76, 76);
    --mediumgray: rgb(153, 153, 153);
    --lightgray: rgb(212, 212, 212);
    --white: rgb(255, 255, 255);
}

html
{
	font-size: 16px;
	line-height: 1.5;
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
}

a, a:link { color: black; }
a:visited { color: var(--darkgray); }
a:hover { color: var(--mediumgray); }
a:active { color: var(--orange100); }
a:focus {	outline: 2px solid black; }
::selection {
	background: yellow;	/* WebKit/Blink Browsers */
	color: var(--darkgreen100);
}
::-moz-selection {
	background: yellow;	/* Gecko Browsers */
	color: var(--darkgreen100);
}

/*Font Size*/
.fs50 { font-size: 0.5rem; }
.fs70 { font-size: 0.7rem; }
.fs80 { font-size: 0.8rem; }
.fs90 { font-size: 0.9rem; }
.fs10 { font-size: 1.0rem; }
.fs11 { font-size: 1.1rem; }
.fs12 { font-size: 1.2rem; }
.fs15 { font-size: 1.5rem; }
.fs16 { font-size: 1.6rem; }
.fs20 { font-size: 2.0rem; }
.fs25 { font-size: 2.5rem; }
.fs30 { font-size: 3.0rem; }

/*Font Weight# */
.fw100 { font-weight: 100; }
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	color: var(--darkgreen100);
	margin-top: 0;
	margin-bottom: 0rem;
}

h1 {
	font-size: 1.625rem;
}

h2 {
	font-size: 1.250rem;
}

h3 {
	font-size: 1.000rem;
}

h4 {
	font-size: 0.900rem;
}

h5 {
	font-size: 0.900rem;
}

h6 {
	font-size: 0.900rem;
}

b, bold {
	font-weight: 700;
}

em {
	font-style: italic;
}

.textcenter,
a.textcenter {
	text-align: center !important;
}

.small {
	font-size: .8rem;
}

.darkgreen,
a.darkgreen {
	color: var(--darkgreen100);
}

.limegreen,
a.limegreen {
	color: var(--limegreen100);
}

.orange,
a.orange {
	color: var(--orange100);
}

.white {
	color: var(--white);
}

.nounderline {
	text-decoration: none;
}

a.decoration-none {
	text-decoration: none;
}

.uc {
	text-transform: uppercase;
}

dt {
	font-weight: 700;
	font-size: .9rem;
}

cite {
	font-size: 0.80rem;
}
section.submission a.button {
	font-weight: 700;
}
.current {
	border: solid 1px var(--limegreen100);
	text-decoration: none;
}

.command {
	background: #ededed;
	font-size: .80rem;
	font-weight: 400;
	padding: .2em;
	border-radius: 4px;
	border: 1px solid var(--darkgray);
}

mark {
	color: #000;
	background-color: rgba(208, 218, 192, 1);
	opacity: 1;
	border-radius: 4px;
	padding-left: .20rem;
	padding-right: .20rem;
}

.summative {
	font-weight: 700;
}

.summative a {
	padding-left: 0em;
}
header nav ul li a:link { color: white; }
header nav ul li a:hover { color: var(--limegreen100); }
header nav ul li a:visited { color: white; }

.table-header { font-weight: 700; }
.panel h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin: .25rem 0 0 0rem;
}

article h3 {
	text-transform: uppercase;
}

.panel h3 a {
	text-decoration: none;
}

.news h3 {
	color: white;
	background-color: var(--darkgreen100);
	padding: 0.2rem 0.2rem 0.2rem 0.4rem;
	border-radius: .25rem .25rem 0 0;
}

.newsitem h3.breaking {
	background-color: var(--orange100);
}

.news a {
	text-decoration: none;
}

section.courseinfo h3 {
	font-weight: 700;
	color: var(--limegreen100);
	font-size: .7rem;
	text-transform: uppercase;
}

section.courseinfo p {
	margin: 0 0 .5rem 0;
	padding: 0;
}

blockquote {
	quotes: "\201C""\201D""\2018""\2019";
	margin: 2rem 0 2rem 0;
	font-size: 1.5rem;
	font-weight: 100;
}

blockquote::before {
	font-weight: 500;
	color: var(--lightgray);
	content: "“";
	font-size: 6rem;
	line-height: 0em;
	margin-right: 0em;
	margin-left: -2.5rem;
	vertical-align: -0.4em;
}

.form .item {
	margin-bottom: 3rem;
}

label {
	margin-right: 1rem;
}

select {
	padding: 5px;
	line-height: 1;
	border: solid 1px var(--limegreen100);
	border-radius: 0;
	-webkit-appearance: none;
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url(/images/general/select-arrow.png) no-repeat right #fff;
}

blockquote p {
	display: inline;
}

.complete,
.incomplete {
	font-weight: 700;
}

.completeincomplete>.complete::before {
	content: "\2611";
	display: inline-block;
	font-size: 1.5rem;
	margin-right: .25rem;
	background-position: left bottom;
	color: var(--limegreen100);
}

.completeincomplete>.incomplete::before {
	content: "\2610";
	display: inline-block;
	font-size: 1.5rem;
	margin-right: .25rem;
	background-position: left bottom;
	color: var(--limegreen100);
}

footer a:hover {
	text-decoration: underline;
}

footer .block a:hover {
	text-decoration: none;
}

/* 25rem = 400px */
@media only screen and (min-width:25em) {
	html {
		font-size: 100%;
	}

}

/* 38rem = 608px */
@media only screen and (min-width:38em) {
	html {
		font-size: 110%;
	}

	header .item {
		font-size: 0.8rem;
	}

}

/* 60rem = 960px */
@media only screen and (min-width:60em) {
	html {
		font-size: 120%;
		line-height: 1.5;
	}

}

/* 90rem = 1440px */
@media only screen and (min-width:90em) {
	html {
		font-size: 130%;
	}
}
