:root {
    --limegreen100: rgb(160, 200, 90);
    --limegreen75: rgb(160, 200, 90, .75);
    --limegreen50: rgb(160, 200, 90, .50);
    --limegreen33: rgb(236, 244, 222);
    --darkgreen100: rgb(0, 103, 62);
    --darkgreen75: rgb(0, 103, 62, .75);
    --darkgreen50: rgb(0, 103, 62, .50);
    --darkgreen33: rgb(0, 103, 62, .33);
    --orange100: rgb(242, 101, 34);
    --orange75: rgb(242, 101, 34, .75);
    --orange50: rgb(242, 101, 34, .50);
    --orange33: rgb(242, 101, 34, .33);
    --darkgray: rgb(76, 76, 76);
    --mediumgray: rgb(153, 153, 153);
    --lightgray: rgb(212, 212, 212);
    --white: rgb(255, 255, 255);
}

html
{
	font-size: 16px;
	line-height: 1.5;
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
}

a, a:link { 
	color: black;
	-webkit-text-decoration: skip;
	        text-decoration: skip;
	-webkit-text-decoration-style: solid;
	        text-decoration-style: solid;
	-webkit-text-decoration-color: var(--limegreen100);
	        text-decoration-color: var(--limegreen100);}
}
a:visited { color: var(--darkgray); }
a:hover { color: var(--mediumgray); }
a:active { color: var(--orange100); }
a:focus {	outline: 2px solid black; }
::-moz-selection {
	background: yellow;	/* WebKit/Blink Browsers */
	color: var(--darkgreen100);
}
::selection {
	background: yellow;	/* WebKit/Blink Browsers */
	color: var(--darkgreen100);
}
::-moz-selection {
	background: yellow;	/* Gecko Browsers */
	color: var(--darkgreen100);
}

/*Font Size*/
.fs05 { font-size: 0.5rem; }
.fs07 { font-size: 0.7rem; }
.fs08 { font-size: 0.8rem; }
.fs09 { font-size: 0.9rem; }
.fs10 { font-size: 1.0rem; }
.fs11 { font-size: 1.1rem; }
.fs12 { font-size: 1.2rem; }
.fs15 { font-size: 1.5rem; }
.fs16 { font-size: 1.6rem; }
.fs20 { font-size: 2.0rem; }
.fs25 { font-size: 2.5rem; }
.fs30 { font-size: 3.0rem; }

/*Font Weight# */
.fw100 { font-weight: 100; }
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin-top: .5rem;
	margin-bottom: 0rem;
}

h6
{
	font-size: .8rem;
	line-height: .96rem;
}

h5
{
	font-size: .9rem;
	line-height: 1.16rem;
	font-weight: 700;
	text-transform: uppercase;
	color: gray;
}

h4
{
	font-size: 1.1rem;
	line-height: 1.32rem;
	font-weight: 600;
}

h3
{
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 700;
}

h2
{
	font-size: 1.5rem;
	line-height: 1.8rem;
	font-weight: 600;
}

h1
{
	font-size: 3.5rem;
	line-height: 4.2rem;
	font-weight: 300;
	color: var(--darkgreen100)
}

.page-title h1 a:link,
.page-title h1 a:hover,
.page-title h1 a:visited {
	text-decoration: none;
	color: var(--darkgreen100)
}

b, bold {
	font-weight: 700;
}

em {
	font-style: italic;
}

.textcenter,
a.textcenter {
	text-align: center !important;
}
.textalignright,
a.textalignright {
	text-align: right !important;
}

.small {
	font-size: .8rem;
}

.darkgreen,
a.darkgreen {
	color: var(--darkgreen100);
}

.limegreen,
a.limegreen {
	color: var(--limegreen100);
}

.orange,
a.orange {
	color: var(--orange100);
}

.white {
	color: var(--white);
}

.nounderline {
	text-decoration: none;
}

a.decoration-none {
	text-decoration: none;
}

.uc {
	text-transform: uppercase;
}

figcaption {
    font-size: 0.8rem;
    color: var(--mediumgray);
}

figcaption>ol {
    list-style-type: decimal;
    counter-reset: LIST-ITEMS;
    padding-left: 0;
    margin-top: 0;
}

figcaption>ol li {
    display: inline;
    margin-right: 0.5rem;
    padding-left: 0;
}

figcaption>ol li:before {
    content: counter(LIST-ITEMS) ".";
    counter-increment: LIST-ITEMS;
    padding-right: 0.25em;
    color: var(--orange100);
}

section.submission figcaption { color: var(--darkgray); }

dt {
	font-weight: 700;
	font-size: .9rem;
}

cite {
	font-size: 0.80rem;
}
a.button {
	font-size: 1.4rem;
	font-weight: 700;
}
.current {
	border: solid 1px var(--limegreen100);
	text-decoration: none;
}

section.content .item1 a.current {
	font-weight: 600;
	color: var(--darkgreen100);
	border: 0;
}

section.content .item1 a.current:hover {
	color: var(--darkgray);
}

.command {
	background: #ededed;
	font-size: .80rem;
	font-weight: 400;
	padding: .2em;
	border-radius: 4px;
	border: 1px solid var(--darkgray);
}

mark {
	color: #000;
	background-color: rgba(208, 218, 192, 1);
	opacity: 1;
	border-radius: 4px;
	padding-left: .20rem;
	padding-right: .20rem;
}

header nav ul li a:link { color: white; }
header nav ul li a:hover { color: var(--limegreen100); }
header nav ul li a:visited { color: white; }
section.courseinfo ul {
    list-style-type: none;
    margin: .25rem 0 0.5rem 0;
    padding: 0 0.5rem 0 0;
}

section.courseinfo ul li { display: block; }
section.content ul {
	list-style: outside none;
  margin-left: 1rem; 
  padding-left: 1em;
  text-indent: -2em;
}
section.content .item1 ul li { display: block; }
section.content .item1 ul li:before,
section.content .item2 ul li:before {
	content: " \00bb ";
	color: var(--limegreen100);
	padding-left: 1rem;
}
section.content .item1 ul li {  }
section.content .item1 ul li a { margin-left: .4rem; }

section.content .item2 ul { margin: 0 0 1rem 0; }
section.content .item2 ul li { margin-left: 1rem; }
section.content .item2 ul li:before { padding-right: .3rem ; }

a.summative {
	font-weight: 600;
}

a.summative::after {
	padding-left: 0em;
	content: "Summative";
	margin-left: .7em;
	padding: .2em .4em .1em;
	position: relative;
	top: -.1em;
	border-radius: 3px;
	background-color: hsla(24,7%,70%,.3);
	color: rgba(0,0,0,.4);
	font-size: .6rem;
	text-transform: uppercase;
}

.table-header { font-weight: 700; }
.panel h3 {
	font-size: 1.5rem;
	font-weight: 700;
	margin: .25rem 0 .5rem .25rem;
}
.thefeed-title {
	display: flex;
	justify-content: center;
	margin-bottom: 0.5rem;
}
.thefeed h3 {
	border-bottom: solid 1px var(--limegreen100);
	color: var(--darkgreen100);
	text-transform: uppercase;
	letter-spacing: 1.0rem;
	padding-left: 1rem;
}

.thefeed h4 {
	text-decoration: underline;
}

.thefeeditem h4.breaking {
	color: var(--orange100);
}
.thefeeditem p { font-size: 0.8rem; }
.thefeeditem a { text-decoration: none; }

section.courseinfo h3 {
	font-weight: 700;
	color: var(--limegreen100);
	font-size: .7rem;
	text-transform: uppercase;
}

section.courseinfo p {
	margin: 0 0 .5rem 0;
	padding: 0;
}

blockquote {
	quotes: "\201C""\201D""\2018""\2019";
	margin: 2rem 0 2rem 0;
	font-size: 1.5rem;
	font-weight: 100;
}

blockquote::before {
	font-weight: 500;
	color: var(--lightgray);
	content: "“";
	font-size: 6rem;
	line-height: 0em;
	margin-right: 0em;
	margin-left: -2.5rem;
	vertical-align: -0.4em;
}

.form .item {
	margin-bottom: 3rem;
}

label {
	margin-right: 1rem;
}

select {
	padding: 5px;
	line-height: 1;
	border: solid 1px var(--limegreen100);
	border-radius: 0;
	-webkit-appearance: none;
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url(/images/general/select-arrow.png) no-repeat right #fff;
}

blockquote p {
	display: inline;
}

.complete,
.incomplete {
	font-weight: 700;
}

.completeincomplete>.complete::before {
	content: "\2611";
	display: inline-block;
	font-size: 1.5rem;
	margin-right: .25rem;
	background-position: left bottom;
	color: var(--limegreen100);
}

.completeincomplete>.incomplete::before {
	content: "\2610";
	display: inline-block;
	font-size: 1.5rem;
	margin-right: .25rem;
	background-position: left bottom;
	color: var(--limegreen100);
}

section.submission h2 { color: var(--darkgreen100); }
footer a:hover {
	text-decoration: underline;
}

footer .block a:hover {
	text-decoration: none;
}

/* 25rem = 400px */
@media only screen and (min-width:25em) {
	html {
		font-size: 100%;
	}

}

/* 38rem = 608px */
@media only screen and (min-width:38em) {
	html {
		font-size: 110%;
	}

	header .item {
		font-size: 0.8rem;
	}

}

/* 60rem = 960px */
@media only screen and (min-width:60em) {
	html {
		font-size: 120%;
		line-height: 1.5;
	}

}

/* 90rem = 1440px */
@media only screen and (min-width:90em) {
	html {
		font-size: 130%;
	}
}
