<h3>Assignment Values</h3>


<h3>Finding Alain</h3>

Office hours are by appointment. My schedule is below. 

<h3>Contact Info </h3>

<ul>
	<li>E-mail: {{ site.email }}</li>
	<li>Office: {{ site.office }} The office under the stairs. </li>
	<li>Message me: {{ site.sms }} </li>
	<li>Twitter: [@alainparadis](http://www.twitter.com/{{ site.twitter }})</li>
</ul>

[This is our timeline in PDF format.](https://dl.dropboxusercontent.com/u/3084706/canvas-downloads/CG1--Schedule.pdf)

<h3>Links </h3>

<ul>
	<li>* Log in to College services <a href="http://www7.algonquincollege.com/onlineresources/ssg/computerServicesAlgonquin.html" target="_blank">here</a>.</li>
	<li>* Log in to ACSIS. <a href="http://help.algonquincollege.com/articles/How_To/How-do-students-log-into-ACSIS" target="_blank">This is the College's tutorial</a>.</li>
	<li>* <a href="http://goo.gl/YkoqyD" target="_blank">Download Adobe Creative Cloud</a></li>
	<li>* <a href="http://goo.gl/NQwwvq" target="_blank">Download MS Office</a> (optional)</li>
	<li>* Set up Algonquin printers on your Mac. <a href="http://goo.gl/ePy32s" target="_blank">Go here</a>.</li>
	<li>* More tech support help <a href="http://goo.gl/gTX5DC" target="_blank">can be found here</a>.</li>
</ul>
