<div class="table">
	<div class="table-header">Title</div>
	<div class="table-header">Apps Used</div>
{% assign all_topics = include.course | sort: 'sortorder' %}
	{% for topic in all_topics %}
	{% if topic.level contains include.coursename %}
	<div class="table-row">
		<div class="table-cell">
			<a href="{{ site.baseurl }}{{topic.url}}" title="{{ topic.sortorder }}: {{ topic.description }}" class="{% if topic.formsum == 'summative' %}summative{% endif %}">{{ topic.title }}</a>
		</div>
		<div class="table-cell">
			{% if topic.appsused contains 'macos' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-macos.svg" alt="Mac OS application icon"></span>{% endif %}
			{% if topic.appsused contains 'sketching' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-sketching.svg" alt="Sketching by hand"></span>{% endif %}
			{% if topic.appsused contains 'cc' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-cc.svg" alt="Creative Cloud application icon"></span>{% endif %}
			{% if topic.appsused contains 'indd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-indd.svg" alt="InDesign application icon"></span>{% endif %}
			{% if topic.appsused contains 'ai' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-ai.svg" alt="Illustrator application icon"></span>{% endif %}
			{% if topic.appsused contains 'psd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-psd.svg" alt="Photoshop application icon"></span>{% endif %}
			{% if topic.appsused contains 'lr' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-lr.svg" alt="Lightroom application icon"></span>{% endif %}
			{% if topic.appsused contains 'pdf' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-pdf.svg" alt="Acrobat application icon"></span>{% endif %}
			{% if topic.appsused contains 'xd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-xd.svg" alt="Xd application icon"></span>{% endif %}
			{% if topic.appsused contains 'dn' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-dn.svg" alt="Adobe Dimensions"></span>{% endif %}
		</div>
	</div>
	{% endif %}
{% endfor %}
</div>
