<p>
  Once you've completed your work, save and close your documents. Rename the provided exercise folder as Last name, First name, Group Nº, {{ page.title }} so,
</p>
<img src="{{site.baseurl}}/images/svg/icon-submission-zip-folder.svg" class="size50 center">
<div class="center">
	Appleseed-Johnny-#-{{ page. title }}
</div>
<p>So...</p>
<div class="center">
  Paradis-Alain-1-{{ page. title }}
</div>
<p>
  Right-click, then choose <span class="command">Compress...</span> to create a zip file for submission.
</p>
<p>So...</p>
<div class="center">
  Paradis-Alain-1-{{ page. title }}.zip
</div>
<p>
<span class="orange">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>
