<p>
	Once you've completed your work, unlock all of your layers, if you have multiple layers. Check your Links panel to make sure you have no placed images in your Illustrator document. Go <span class="command">Type > Find Font</span> to make sure there are no fonts used in your document.
</p>

<p>
Save and close your document. Rename the file to Last name, First name, Group Nº, assignment name. So,
</p>
<div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.ai
</div>
<p>
	Zip-compress the file by right-clicking on it, then choosing <span class="command">Compress...</span>.
</p>
<p>
	<span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>