<p>
	Once you've completed your work, make sure your Illustrator exercise file is named Last name, First name, Group Nº, assignment name. So,
</p>
<div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.ai
</div>
<p>
  Zip-compress the exercise file by right-clicking on it, then choosing <span class="command">Compress...</span>
</p>
<p>
	<span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>