<p>
Once you've completed your work, export your InDesign document as an interactive PDF with the settings shown above. Make sure the PDF is named Last name, First name, Group Nº, {{ page.title }}.pdf so,
</p>
<div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.pdf
</div>
<p>
	Do not compress the file. Submit the native PDF file on Brightspace.
</p>
<p>
	<span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>