  <p>
    Once you've completed your work, make sure your InDesign document is named Last name, First name, Group Nº, assignment name. So,
  </p>
  <div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.indd
  </div>
  <p>
    Preflight your document using the Book panel's menu. Go <span class="command">Preflight Book...</span>. You should get green lights in your Book panel.
  </p>
  <p>
    Once this is done, save your book document, then package it using the Book panel menu command. The resulting folder will already be named properly. Zip-compress the folder by right-clicking on it, then choosing <span class="command">Compress...</span>. Submit this zip file.
  </p>
  <p>
    Use the Book panel's menu to export your book as a PDF. Make sure it's named like Appleseed, Johnny, 1, {{ page.title }}.pdf. This will be your <em>second submission</em> on Brightspace.
  </p>
<p>
  <span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>