  <p>
    Once you've completed your work, make sure your InDesign document is named Last name, First name, Group Nº, assignment name. So,
  </p>
  <div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.indd
  </div>
  <p>
    Check your font usage to ensure the only fonts in your document are the ones in your design. To do so, go <span class="command">Type > Find Fonts</span>. Use the Replace function to get rid of fonts that aren't in your design.
  </p>
  <p>
    Check your image usage in the Links panel. Make sure there are no warning icons in the panel.
  </p>
  <p>
    Once this is done, save your document, then package it using <span class="command">File > Package</span>. The resulting folder will already be named properly. Zip-compress the folder by right-clicking on it, then choosing <span class="command">Compress...</span>.
  </p>
<p>
	<span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>