<p>
Once you've completed your work, make sure that your Photoshop document has no unexpected file dependancies. Your Layers Panel should not include any linked smart objects. Linked Smart Objects have a chain link icon on their layer in the Layers Panel.
</p>
<p>
If you've used fonts, they should only be from Adobe Fonts. You don't need to submit any fonts in that case.
</p>
<p>
Name your file Last name, First name, Group Nº, {{ page.title }}.psd. so,
</p>
<div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.psd.zip
</div>
<p>
Right-click, then choose <span class="command">Compress...</span> to create a zip file for submission.
</p>
<p>
	<span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>