<p>
Once you've completed your work, save and close your Photoshop document. Rename the file as Last name, First name, Group Nº, {{ page.title }}.psd so,
</p>
<div class="filename">
		Appleseed-Johnny-#-{{ page. title }}.psd
</div>
<p>
Right-click, then choose <span class="command">Compress...</span> to create a zip file for submission.
</p>
<p>
	<span class="limegreen">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
</p>