Dark Green: #00673E;
Lime Green: #94C947;
Orange: #D94F2C;
*/
@-moz-viewport
{
	width: device-width;
	scale: 1;
}

@-ms-viewport { width:device-width; scale:1; }
@-o-viewport { width:device-width; scale:1; }
@-webkit-viewport { width:device-width; scale:1; }
@viewport { width:device-width; scale:1; }

html
{
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
}

*, *::before, *::after { box-sizing: inherit; }

body
{
	font-family: sans-serif;
	font-size: 16px;
	margin: auto;
}

img
{
	max-width: 100%;
	height: auto;
	display: block;
	border: 0;
}

.wrapper
{
	display: grid;
	background-color: #ddd;
	padding: 8px;
}

.item
{
	background-color: #bbb;
	text-align: center;
}

/* 25rem = 400px */
@media only screen and (min-width:25rem)
{
	
}

/* 38rem = 608px */
@media only screen and (min-width:38rem)
{
	.wrapper {
		grid-template-columns: [first] 250px [second] 1fr;
	}
	.item:nth-child(2) {
	}
}

/* 60rem = 960px */
@media only screen and (min-width:60rem)
{
	
}

/* 90rem = 1440px */
@media only screen and (min-width:90rem)
{
	
}
