Dark Green: #00673E;
Lime Green: #94C947;
Orange: #D94F2C;
*/
@-moz-viewport
{
	width: device-width;
	scale: 1;
}

@-ms-viewport { width:device-width; scale:1; }
@-o-viewport { width:device-width; scale:1; }
@-webkit-viewport { width:device-width; scale:1; }
@viewport { width:device-width; scale:1; }

html
{
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
}

*, *::before, *::after { box-sizing: inherit; }

body
{
	font-family: sans-serif;
	font-size: 16px;
	margin: auto;
}

img
{
	max-width: 100%;
	height: auto;
	display: block;
	border: 0;
}

.nav {
    display: flex;
    border: solid 1px limegreen;
    justify-content: space-between;
    }

.item {
	background-color: #bbb;
}

ul.coursenav, ul.links{
  list-style: none;
  border: solid 1px darkgrey;
  padding: 0;
  margin: 0;

}

ul.coursenav li, ul.links li {
  display: inline-block;
  padding: 0.2rem;
}
