border: solid 1px darkgrey;/*
Dark Green: #00673E;
Lime Green: #94C947;
Orange: #D94F2C;
*/
@-moz-viewport {
	width:device-width;
	scale:1;
}
@-ms-viewport { width:device-width; scale:1; }
@-o-viewport { width:device-width; scale:1; }
@-webkit-viewport { width:device-width; scale:1; }
@viewport { width:device-width; scale:1; }
html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.4;
	font-family: sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
	font-family:sans-serif;
	font-size: 16px;
	border-top: solid 12px darkgrey;
	max-width: 96rem;
	margin: auto;
	padding-left:1rem;
	padding-right:1rem;
}
main {
	display:flex;
	flex-flow:column wrap;
}
.top-nav {
	display: flex;
  flex-flow:row wrap;
  justify-content:center;
}
.top-nav .courses, .top-nav .links {
	display:flex;
	flex-flow:row wrap;
	flex-grow:1;
}
.top-nav .courses .item, .top-nav .links .item {
	text-align:center;
	flex-grow:1;
	padding: .25rem .5rem .25rem .5rem;
}
.cell-outer {
	display: flex;
	flex-flow:column nowrap;
	justify-content:space-between;
	align-items:flex-start;
}
.cell-inner {
	min-width: 25%;
}
aside {
	display: flex;
	flex-flow: column wrap;
	padding-left: .25rem;
}
aside .cell-outer {
	padding-right: .25rem;
}
aside .cell-inner {
	padding-right: .25rem;
}
.guts {

}
footer {
	background-color: lightgrey;
	padding: 5rem;
	text-align: center;
}
/* 25rem = 400px */
@media only screen and (min-width:25rem) {
	body { border-top: solid 12px yellow; }
	.top-nav { justify-content:space-around; }
}
/* 36rem = 576px */
@media only screen and (min-width:36rem) {
		body { border-top: solid 12px orange; }
		.top-nav {
			justify-content:space-between;
		}
		.top-nav .courses, .top-nav .links { flex-grow:0; }
		.cell-outer {
			flex-flow: row wrap;
			align-items:flex-start;
		}
		.cell-inner {
			flex-grow:1;
			max-width: 50%;
		}
		aside .cell-outer {
			padding-right: .25rem;
		}
		aside .cell-inner {
			flex-grow:1;
			max-width: 50%;
			padding-right: .25rem;
		}
}
/* 48rem = 768px */
@media only screen and (min-width:48rem) {
			body { border-top: solid 12px red; }
			.top-nav { justify-content:space-between; }
}
/* 60rem = 960px */
@media only screen and (min-width:60rem) {
				body { border-top: solid 12px darkred; }
				main {
					display:flex;
					flex-flow:row wrap;
					justify-content:space-between;
				}
				aside {
					flex-grow:1;
					max-width: 50%;
					order:2;
				}
				.guts {
					flex-grow:2;
					max-width: 50%;
					order:1;
				}
}
/* 72rem = 1152px */
@media only screen and (min-width:72rem) {
					body {
						border-top: solid 12px plum;
						padding-left:.5rem;
						padding-right:.5rem;
					}
}
/* 96rem = 1536px */
@media only screen and (min-width:96rem) {
						body {
							border-top: solid 12px blue;
							padding-left: 0;
							padding-right: 0;
						}
						.guts {
							flex-grow:1;
							max-width: 50%;
						}
						aside {
							flex-grow:1;
							max-width: 50%;
						}
}