border: solid 1px darkgrey;/*
Dark Green: #00673E;
Lime Green: #94C947;
Lime Green: rgba(148, 201, 71, 1);
Orange: #D94F2C;
*/
@-moz-viewport
{
	width: device-width;
	scale: 1;
}

@-ms-viewport { width:device-width; scale:1; }
@-o-viewport { width:device-width; scale:1; }
@-webkit-viewport { width:device-width; scale:1; }
@viewport { width:device-width; scale:1; }

html
{
	box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }

body
{
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
	border-top: solid 12px darkgrey;
	margin: auto;
	padding-left: 0rem;
	padding-right: 0rem;
	max-width: 72rem;
	overflow-x: hidden;
}
.full-width-bar-dark {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba(148, 201, 71, 0.25);
}
.full-width-bar-light {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  background: rgba(148, 201, 71, .1);
}
img
{
	max-width: 100%;
	height: auto;
	display: block;
	border: 0;
}

header {
	padding: 1rem;
	padding-top: 0;
}
main
{
	display: flex;
	flex-flow: column wrap;
}

.top-nav
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.top-nav .courses, .top-nav .links
{
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
}

.top-nav .courses .item, .top-nav .links .item
{
	text-align: center;
	flex-grow: 1;
	padding: .25rem .5rem .25rem .5rem;
}

.cell-outer
{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.cell-inner { min-width: 25%; }

.feature
{
	display: flex;
	flex-flow: column nowrap;
}

.feature .cell-outer
{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
}

.feature .cell-inner {  }
.feature .cell-inner .cell-inner {  }
.feature .cell-inner .cell-inner:first-child { width: 100%; }

.appsused
{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.guts .cell-outer {  }

.guts .cell-inner
{
	border: solid 1px limegreen;
	width: 100%;
}

footer
{
	background-color: lightgrey;
	padding: 5rem;
	text-align: center;
}

/* 25rem = 400px */

@media only screen and (min-width:25rem)
{
	body { border-top: solid 12px yellow; }
	.top-nav { justify-content: space-around; }
	.feature .cell-inner
	{
		display: flex;
		flex-flow: row wrap;
		align-items:flex-start;		
	}
	
	.feature .cell-inner .cell-inner:first-child
	{
		display: block;
		max-width: 50%;
	}
	
	.feature .cell-inner .cell-inner:nth-child(2)
	{
		width: 50%;
		padding-left: .5rem;
	}

	.appsused { margin-right: .5rem; }
}

/* 36rem = 576px */

@media only screen and (min-width:36rem)
{
	body { border-top: solid 12px orange; }
	.top-nav { justify-content: space-between; }
	.top-nav .courses, .top-nav .links { flex-grow: 0; }
	.guts .cell-outer
	{
		flex-flow: row wrap;
		align-items: flex-start;
	}
	
	.guts .cell-inner
	{
		flex-grow: 1;
		max-width: 50%;
		padding-left: .25rem;
	}
	.feature .cell-outer {margin-bottom: 3rem;}
	.feature .cell-inner .cell-inner:first-child
	{
		display: block;
		max-width: 33%;
	}
	
	.feature .cell-inner .cell-inner:nth-child(2)
	{
		width: 67%;
		padding-left: .5rem;
	}
}

/* 48rem = 768px */

@media only screen and (min-width:48rem)
{
	body { border-top: solid 12px red; }
	.top-nav { justify-content: space-between; }
	.feature {
		flex-flow:row wrap;
	}
	.feature .cell-outer {max-width: 50%;}
	.feature .cell-inner { padding-right: .25rem;}
}

/* 60rem = 960px */

@media only screen and (min-width:60rem)
{
	body { border-top: solid 12px darkred; }
	.guts { width: 100%; }
	.guts .cell-outer { justify-content: flex-start; }
	
	.guts .cell-inner
	{
		max-width: 50%;
		padding-left: .5rem;
	}

}

/* 72rem = 1152px */

@media only screen and (min-width:72rem)
{
	body
	{
		border-top: solid 12px plum;
		padding-left: .5rem;
		padding-right: .5rem;
	}
	
	.guts .cell-outer { justify-content: flex-start; }
}

/* 96rem = 1536px */

@media only screen and (min-width:96rem)
{
	body
	{
		border-top: solid 12px blue;
		padding-left: 0;
		padding-right: 0;
	}
}