<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
<header>
	<nav>
		{% include top-nav.html %}
	</nav>
	<div class="site-id">
		<div class="site-logo">
		<a href="{{ site.baseurl }}/">
		<img class="site-logo stacked" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics-stacked.svg">
		<img class="site-logo horizontal" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics.svg">
		</a>
		</div>
		<div class="description fw300">
			{{page.description}}
		</div>
	</div>
</header>
<article class="card-wrapper">
{% assign all_topics = site.topics | sort: 'sortorder' %}
	{% for cards in all_topics %}
	{% if cards.level contains page.level %}
		<div class="card">
			<a href="{{ site.baseurl }}{{cards.url}}" class="cards decoration-none">
				<h1 class="fs12 fw600">{{cards.title}}</h1>
				<div>{{cards.description}}</div>
				<div class="appsused">
	{% if cards.appsused contains 'macos' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-macos.svg" alt="Mac OS"></span>{% endif %}
	{% if cards.appsused contains 'cc' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-cc.svg" alt="Creative Cloud"></span>{% endif %}
	{% if cards.appsused contains 'indd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-indd.svg" alt="InDesign"></span>{% endif %}
	{% if cards.appsused contains 'ai' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-ai.svg" alt="Illustrator"></span>{% endif %}
	{% if cards.appsused contains 'psd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-psd.svg" alt="Photoshop"></span>{% endif %}
	{% if cards.appsused contains 'lr' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-lr.svg" alt="Lightroom icon"></span>{% endif %}
	{% if cards.appsused contains 'pdf' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-pdf.svg" alt="Acrobat"></span>{% endif %}
	{% if cards.appsused contains 'xd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-xd.svg" alt="Xd icon"></span>{% endif %}
	{% if cards.appsused contains 'fe' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-felix-beta.svg" alt="Project Felix Beta"></span>{% endif %}
				</div>
			</a>
		</div>
		{% endif %}	
		{% endfor %}
</article>
    {% include footer.html %}
  </body>
</html>