<!DOCTYPE html>
{% include head.html %}
<body>
<header role="banner">
    <nav role="navigation">
        {% include top-nav.html %}
    </nav>
    <div class="site-id">
        <div class="item1">
            <a href="{{ site.baseurl }}/"><img class="stacked" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics-stacked.svg"></a>
            <a href="{{ site.baseurl }}/"><img class="horizontal" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics.svg"></a>
        </div>
        <div class="item2"></div>
    </div>
</header>
<section class="page-title">
    <div class="item1">
        <h1 class="fs30 fw100">{{ page.title }}</h1>
    </div>
    <div class="item2">
        {% if page.appsused %}
        <div class="appsused">
            <span class="uc f500 fs70">Apps Used:</span>
            {% if page.appsused contains 'macos' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-macos.svg" alt="Mac OS"></span>{% endif %}
            {% if page.appsused contains 'cc' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-cc.svg" alt="Adobe Creative Cloud"></span>{% endif %}
            {% if page.appsused contains 'indd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-indd.svg" alt="Adobe InDesign"></span>{% endif %}
            {% if page.appsused contains 'ai' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-ai.svg" alt="Adobe Illustrator"></span>{% endif %}
            {% if page.appsused contains 'psd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-psd.svg" alt="Adobe Photoshop"></span>{% endif %}
            {% if page.appsused contains 'pdf' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-pdf.svg" alt="Adobe Acrobat"></span>{% endif %}
            {% if page.appsused contains 'xd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-xd.svg" alt="Adobe Xd"></span>{% endif %}
            {% if page.appsused contains 'incopy' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-incopy.svg" alt="Adobe InCopy"></span>{% endif %}
            {% if page.appsused contains 'dn' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-dn.svg" alt="Adobe Dimensions"></span>{% endif %}
        </div>
        {% endif %}
    </div>
</section>
<section class="video-instructions">
    <div class="item item1">
        {% if page.video %}
        <div id="embed-youtube-container">
            <iframe src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% if page.featureimage %}
            <img src="/images/featureimage/{{page.featureimage}}">
        {% endif %}
    </div>
    <div class="item item2">
        <p>{{ page.description }}</p>
        {% if page.downloads %}
        <img src="/images/svg/icon-download.svg" class="size10 center">
        <div class="textcenter">
            <a href="{{ page.downloads }}" title="Download practice & exercise files for this assignment." class="fw600 uc" target="_blank">Download Files</a>
        </div>
        {% endif %}
        {% if page.formsum == 'formative' %}
        <div class="formsum">
            <h3 class="uc textcenter">This is a <span class="fw600">{{ page.formsum }}</span> assignment</h3>
            <p>
                That means that you'll be learning and practicing new software skills. This assignment contributes to your final grade in the course. This work will be graded as either:
            </p>
            <div class="completeincomplete">
                <span class="complete">Complete</span>
                <span class="incomplete">Incomplete</span>
            </div>
            <p>
                If needed, I will provide written feedback on your performance.
            </p>
        </div>
        {% elsif page.formsum == 'summative' %}
        <div class="formsum sum">
            <p>
                This is a <span class="fw600">{{ page.formsum }}</span> assignment. It evaluates your mastery of the skills in this instructional unit. This assignment contributes to your final grade in the course. You will earn a letter grade.
            </p>
            <p class="textcenter">
                <a href="{{ site.baseurl }}/topics/assessment.html" title="Algonquin College Grading System" class="fw600 font10">Your Grading System</a>
            </p>
        </div>
        {% endif %}
    </div>
</section>
<section class="content">
    <div class="item item1">{% include left-nav.html %}</div>
    <div class="item item2">
        <div>
            {{ page.details | markdownify }}
        </div>
        {% if page.formsum == 'formative' or page.formsum == 'summative' %}
        <div>
            {% if page.formsum == 'formative' %}
            <h2 class="fw300 fs16">Formative Activity</h2>
            {% elsif page.formsum == 'summative' %}
            <h2 class="fw300 fs16">Your Assignment</h2>
            {% endif %}
            {{ page.assignment | markdownify }}
        </div>
        {% endif %}
    </div>
    <div class="item item3">
        {% if page.links %}
        <h3 class="uc">Supplemental Links</h3>
        {% for link in page.links %}
        {{ link | markdownify }}
        {% endfor %}
        {% endif %}
    </div>
</section>
<section class="submission">
    <div class="item item1">
        <h2 class="fs20 fw100">How to submit</h2>
    </div>
    <div class="item item2">
    	<img src="/images/svg/{{page.submission}}.svg">
    </div>
    <div class="item item3">
        <h2>Instructions</h2>
        <div class="fw500">{{ content }}</div>
    </div>
</section>
{% include footer.html %}
</body>
</html>
