<!DOCTYPE html>
<html lang="en-ca">
	{% include head.html %}
<body>
<header role="banner">
	<nav role="navigation">
		{% include top-nav.html %}
	</nav>
	<div class="site-id">
		<div class="site-id-item pad05">
		<a href="{{ site.baseurl }}/">
		<img class="site-id-item stacked" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics-stacked.svg">
		<img class="site-id-item horizontal" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics.svg">
		</a>
		</div>
		<div class="site-id-item"></div>
	</div>
</header>
<section class="page-title">
	<div class="item"><h1 class="fw300">{{ page.title }}</h1></div>
	<div class="item">{{ page.description }}</div>
	<div class="item">
		{% if page.appsused %}
		<div>
		<span class="appsused uc f500 fs70">Apps Used:</span>
		{% if page.appsused contains 'macos' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-macos.svg" alt="Mac OS"></span>{% endif %}
		{% if page.appsused contains 'cc' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-cc.svg" alt="Adobe Creative Cloud"></span>{% endif %}
		{% if page.appsused contains 'indd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-indd.svg" alt="Adobe InDesign"></span>{% endif %}
		{% if page.appsused contains 'ai' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-ai.svg" alt="Adobe Illustrator"></span>{% endif %}
		{% if page.appsused contains 'psd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-psd.svg" alt="Adobe Photoshop"></span>{% endif %}
		{% if page.appsused contains 'pdf' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-pdf.svg" alt="Adobe Acrobat"></span>{% endif %}
		{% if page.appsused contains 'xd' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-xd.svg" alt="Adobe Xd"></span>{% endif %}
		{% if page.appsused contains 'incopy' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-incopy.svg" alt="Adobe InCopy"></span>{% endif %}
		{% if page.appsused contains 'dn' %}<span class="app-icon"><img src="{{ site.baseurl }}/images/svg/icon-dn.svg" alt="Adobe Dimensions"></span>{% endif %}
		</div>
		{% endif %}
	</div>
</section>
<section class="video-instructions">
	<div class="item item1">
			{% if page.video %}
			<h3>Watch the Video Tutorial</h3>
			<div id="embed-youtube-container">
				<iframe src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
			</div>
			{% endif %}
	</div>
	<div class="item item2">
		{% if page.downloads %}
			<div class="button download">
					<a href="{{ page.downloads }}" title="Download practice & exercise files for this assignment." class="fw600 uc" target="_blank">Download Files</a>
			</div>
		{% endif %}
		{% if page.formsum == 'formative' %}
			<div class="formsum">
			<h3 class="fs90 uc">Assessment</h3>
				<p>
					This is a <span class="fw600">{{ page.formsum }}</span> assignment. That means that you'll be learning and practicing new software skills. This assignment contributes to your final grade in the course. This work will be graded as either:
				</p>
				<div class="completeincomplete">
					<span class="complete fw600">Complete</span>
					<span class="incomplete fw600">Incomplete</span>
				</div>
				<p>
				If needed, I will provide written feedback on your performance.
				</p>
			</div>
			{% elsif page.formsum == 'summative' %}
			<div class="formsum sum">
			<p>
				This is a <span class="fw600">{{ page.formsum }}</span> assignment. It evaluates your mastery of the skills in this instructional unit. This assignment contributes to your final grade in the course. You will earn a letter grade.
			</p>
			<p class="textcenter">
			<a href="{{ site.baseurl }}/topics/assessment.html" title="Algonquin College Grading System" class="fw600 font10">Your Grading System</a>
			</p>
			</div>
			{% endif %}
	</div>
</section>
<section>
	<aside>
		{{content}}
	</aside>
	<main role="main">
		 <div>
			{{ page.details | markdownify }}
		 </div>
			{% if page.formsum == 'formative' or page.formsum == 'summative' %}
			<div>
			{% if page.formsum == 'formative' %}
				<h2 class="fw300 fs16">Formative Activity</h2>
			{% elsif page.formsum == 'summative' %}
				<h2 class="fw300 fs16">Your Assignment</h2>
			{% endif %}
			{{ page.assignment | markdownify }}
		 </div>
			{% endif %}
		</main>
	<aside id="rightrail">
				{% endif %}
				{% if page.links %}
				<h3 class="uc">Supplemental Links</h3>
					{% for link in page.links %}
							{{ link | markdownify }}
					{% endfor %}
				{% endif %}
				{% if page.submission %}
			 <div id="submission">
				<h3 class="uc">Submission Instructions</h3>
				<div class="submission">
				{% if page.submission == 'psd-file' %}
					{% include submissions/psd-file.html %}
				{% endif %}
				{% if page.submission == 'psd-file-no-dependancies' %}
					{% include submissions/psd-file-no-dependancies.html %}
				{% endif %}
				{% if page.submission == 'psd-files-in-folder' %}
					{% include submissions/psd-files-in-folder.html %}
				{% endif %}
				{% if page.submission == 'ai-file' %}
					{% include submissions/ai-file.html %}
				{% endif %}
				{% if page.submission == 'ai-file-no-fonts' %}
					{% include submissions/ai-file-no-fonts.html %}
				{% endif %}
				{% if page.submission == 'ai-folder' %}
					{% include submissions/ai-folder.html %}
				{% endif %}
				{% if page.submission == 'generic-zip-folder' %}
					{% include submissions/generic-zip-folder.html %}
				{% endif %}
				{% if page.submission == 'dimension-formative' %}
					{% include submissions/dimension-formative.html %}
				{% endif %}
				{% if page.submission == 'dimension-summative' %}
					{% include submissions/dimension-summative.html %}
				{% endif %}
				{% if page.submission == 'generic-zip-folder-with-png' %}
					{% include submissions/generic-zip-folder-with-png.html %}
				{% endif %}
				{% if page.submission == 'indd-package' %}
					{% include submissions/indd-package.html %}
				{% endif %}
				{% if page.submission == 'indd-package-local-fonts' %}
					{% include submissions/indd-package-local-fonts.html %}
				{% endif %}
				{% if page.submission == 'indd-interactive-pdf' %}
					{% include submissions/indd-interactive-pdf.html %}
				{% endif %}
				{% if page.submission == 'pdf-file' %}
					{% include submissions/pdf-file.html %}
				{% endif %}
				{% if page.submission == 'ai-package' %}
					{% include submissions/ai-package.html %}
				{% endif %}
				{% if page.submission == 'ai-package-no-fonts' %}
					{% include submissions/ai-package-no-fonts.html %}
				{% endif %}
				{% if page.submission == 'ai-file-no-fonts-with-scan' %}
					{% include submissions/ai-file-no-fonts-with-scan.html %}
				{% endif %}
				{% if page.submission == 'indd-book-package-plus-pdf' %}
					{% include submissions/indd-book-package-plus-pdf.html %}
				{% endif %}
				{% if page.submission == 'psd-folder-with-photos' %}
					{% include submissions/psd-folder-with-photos.html %}
				{% endif %}
				{% if page.submission == 'see-instructions' %}
					{% include submissions/see-instructions.html %}
				{% endif %}
				</div>
			 </div>
				{% endif %}
				{% if page.brightspace %}
							<div class="button">
								<a href="{{ page.brightspace }}" target="_blank" title="Submit your files here." class="submit">Submit Your Files</a>
							</div>
				{% endif %}
		 </aside>
</section>
		{% include footer.html %}
</body>
</html>
