<!DOCTYPE html>
{% include head.html %}
<body>
    <header role="banner">
        <nav role="navigation">
            {% include top-nav.html %}
        </nav>
        <div class="site-id">
            <div class="item1">
                <a href="{{ site.baseurl }}/"><img class="stacked" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics-stacked.svg"></a>
                <a href="{{ site.baseurl }}/"><img class="horizontal" alt="Algonquin College Graphic Design Program Computer Graphics Course Curriculum" src="/images/svg/logo-ac-computer-graphics.svg"></a>
            </div>
            <div class="item2"></div>
        </div>
    </header>
    <section class="page-title">
        <div class="item1">
            <h1 class="fs30">{{ page.title }}</h1>
        </div>
        <div class="item2">
        </div>
    </section>
    <section class="content">
      <div class="item1"></div>
      <div class="item2">
        <h2>Pages Not in any Levels</h2>
        <ul>
            {% for undeterminedlevel in site.documents %}
            {% if undeterminedlevel.level == 'undetermined'%}
            <li><a href="{{ site.baseurl }}{{undeterminedlevel.url}}" class="{% if undeterminedlevel.formsum == 'summative' %}summative{% endif %}" title="{{ undeterminedlevel.description }}">{{ undeterminedlevel.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <h3>All Illustrator</h3>
        <p>These are all assignments where Illustrator is involved.</p>
        <ul>
            {% for all-topics in site.topics %}
            {% if all-topics.appsused contains 'ai' %}
                <li><a href="{{ all-topics.url }}">{{ all-topics.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <h3>All InDesign</h3>
        <p>These are all assignments where InDesign is involved.</p>
        <ul>
            {% for all-topics in site.topics %}
            {% if all-topics.appsused contains 'indd' %}
                <li><a href="{{ all-topics.url }}">{{ all-topics.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <hr>
        <h3>All Photoshop</h3>
        <p>These are all assignments where Photoshop is involved.</p>
        <ul>
            {% for all-topics in site.topics %}
            {% if all-topics.appsused contains 'psd' %}
                <li><a href="{{ all-topics.url }}">{{ all-topics.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
    </section>
    {% include footer.html %}
</body>

</html>
