---
layout: default
---
{% if page.submission == 'indesign-package' %}
    <p>
    Make sure your InDesign document is named Last name, First name, Group Nº, assignment name. So,
  </p>
  <div class="filename">
    Appleseed-Johnny-#-{{ page. title }}.indd
  </div>
  <p>
    Check your font usage to only include Adobe Fonts. To do so, go <span class="command">Type > Find Fonts</span>. There should only be Adobe Fonts in the list.
  </p>
  <p>
    Check your image usage in the Links panel. Make sure there are no warning icons in the panel.
  </p>
  <p>
    Once this is done, save your document, then package it using <span class="command">File > Package</span>. The resulting folder will already be named properly. Zip-compress the folder by right-clicking on it, then choosing <span class="command">Compress...</span>.
  </p>
  <p>
    <span class="orange">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
  </p>

 Make a folder as shown below. Add the InDesign package to it, plus the Illustrator file with your live graph design.

  <img class="size100" alt="graph-submission" src="/images/illustrator-graphs/graph-submission.jpg">

  Make sure all your layers are unlocked in all your files. Check your Illustrator Links panel to make sure there are no placed images in your document. If there are, delete them.


  The goal here is to keep one Illustrator file with a all your graph work in it. It will have more than one version of the graph in it. It's like leaving breadcrumbs as you work. Keep copies (versions) of your graph as you edit it. Keep your graph live as long as you can. Finally, if it's necessary to ungroup your graph, you'll have a live graph to go back to if something goes wrong.

  The graph-outlined.ai file has only your final graph in it. Select your whole graph with the Select Tool and ungroup it. Select all of your type and use <span class="command">Type > Create Outlines</span>. Your graph isn't an Illustrator graph anymore. It's completely outlined. Now you can place (import) it to InDesign.

  <div class="attentionbox achtung">
    No raster images (photos) are allowed in this assignment. Use only Adobe Fonts.
  </div>

{% elsif page.submission == 'illustrator-package' %}
    <p>
    Once you've completed your work, make sure your Illustrator document is named <span class="">Appleseed-Johnny-#-{{ page. title }}.ai</span>
  <p>
    Check your font usage to only include Adobe Fonts. To do so, go <span class="command">Type > Find Fonts</span>. There should only be Adobe Fonts in the list.
  </p>
  <p>
    Check your image usage in the Links panel. Make sure there are no warning icons in the panel.
  </p>
  <p>
    Once this is done, save your document, then package it using <span class="command">File > Package</span>. The resulting folder will already be named properly. Zip-compress the folder by right-clicking on it, then choosing <span class="command">Compress...</span>.
  </p>
  <p>
    <span class="orange">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
  </p>

{% elsif page.submission == 'my-assignment-folder' %}
  <p>
  Once you've completed your work, save and close each document. Rename the provided assignment folder as Last name, First name, Group Nº {{ page.title }} so,
  </p>
  <div class="filename">
      Appleseed-Johnny-#-{{ page.title }}
  </div>
  <p>
  Right-click, then choose <span class="command">Compress...</span> to create a zip file for submission.
  </p>
  <p>
    <span class="orange">Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. <a href="assessment.html#filenames" title="Why is file naming important?">Why?</a></span>
  </p>

{% elsif page.submission == 'photoshop-document' %}
<p>Save your Photoshop file as <span class="">Lastname-Firstname-#-{{ page.title }}.psd</span>. Zip-compress the Photoshop file, then submit it on BrightSpace.</p>

{% elsif page.submission == 'pdf-file' %}
<p>Before submitting your PDF, open it in Adobe Acrobat. Go File > Document Properties... Click on Initial View, then:</p>
<img src="/images/submissions/pdf-file-properties.gif" class="size75 borderdarkgrey1">
<p>Save and close your file.</p>
<p>Make sure it's named <em>Appleseed, Johnny, #, {{ page.title }}.pdf</em></p>
<p>Submit your PDF file. Do not compress it.</p>

{% endif %}
