---
layout: default
---
{% if page.submission == 'indesign-package' %} 
<p>
	Make sure your InDesign document is named LastName-FirstName-#-Assignment-Name. # is your group number So, 
</p>
<div class="filename">
	Appleseed-Johnny-1-{{ page.title }}.indd 
</div>
<p>
	Check your font usage to only include Adobe Fonts. To do so, go 
	<span class="command">
		Type > Find Fonts 
	</span>
	. There should only be Adobe Fonts in the list. 
</p>
<p>
	Check your image usage in the Links panel. Make sure there are no warning icons in the panel. 
</p>
<p>
	Once this is done, save your document, then package it using 
	<span class="command">
		File > Package 
	</span>
	. The resulting folder will already be named properly. Zip-compress the folder by right-clicking on it, then choosing 
	<span class="command">
		Compress... 
	</span>
	. 
</p>
<div class="zipfile">
	Appleseed-Johnny-#-{{ page.title }}.zip 
</div>
<p>
	<span class="orange">
		Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. 
		<a href="/administration/assessment.html#filenames" title="Why is file naming important?">
			Why? 
		</a>
	</span>
</p>
{% elsif page.submission == 'illustrator-package' %} 
<p>
	Make sure your document is named properly: 
</p>
<div class="filename">
	Appleseed-Johnny-#-{{ page.title }}.ai 
</div>
<p>
	Check that there are no placed images in your Links panel. Lastly, go 
	<span class="command">
		Type > Fine Font... 
	</span>
	. Make sure the only fonts there are from Adobe Fonts. If there are others, get rid of them. 
</p>
<p>
	Now, you're ready to save your file and package it. Go 
	<span class="command">
		File > Package... 
	</span>
	and follow the prompts. You'll submit the folder named 
</p>
<p class="foldername">
	Appleseed-Johnny-#-{{ page.title }} 
</p>
<p>
	Now zip that folder and submit the zip file. 
</p>
<div class="zipfile">
	Appleseed-Johnny-#-{{ page.title }}.zip 
</div>
{% elsif page.submission == 'my-assignment-folder' %} 
<p>
	Once you've completed your work, save and close each document. Rename the provided assignment folder as LastName-FirstName-Group-N&ordm;-Assignment-Name. So, 
</p>
<div class="foldername">
	Appleseed-Johnny-1-{{ page.title }} 
</div>
<p>
	Right-click, then choose 
	<span class="command">
		Compress... 
	</span>
	to create a zip file for submission. So... 
</p>
<div class="zipfile">
	Paradis-Alain-1-{{ page.title }}.zip 
</div>
<p>
	The zip file is what you submit. 
</p>
<p>
	<span class="orange">
		Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. 
		<a href="/administration/assessment.html#filenames" title="Why is file naming important?">
			Why? 
		</a>
	</span>
</p>
{% elsif page.submission == 'photoshop-document' %} 
<p>
	Save your Photoshop file as LastName-FirstName-Group-N&ordm;-Assignment-Name. 
</p>
<div class="filename">
	Appleseed-Johnny-#-{{ page.title }}.psd 
</div>
<p>
	Zip-compress the Photoshop file, then submit it on BrightSpace. 
</p>
<div class="zipfile">
	Appleseed-Johnny-#-{{ page.title }}.psd.zip 
</div>
{% elsif page.submission == 'pdf-file' %} 
<p>
	Before submitting your PDF, open it in Adobe Acrobat. Go File > Document Properties... Click on Initial View, then: 
</p>
<img src="/images/submissions/pdf-file-properties.gif" class="size75 borderdarkgrey1"> 
<p>
	Save and close your file. 
</p>
<p>
	Make sure it's named 
	<em>
		Appleseed, Johnny, #, {{ page.title }}.pdf 
	</em>
</p>
<p>
	Submit your PDF file. Do not compress it. 
</p>
{% elsif page.submission == 'pdf+zipped-folder' %} 
<p>
	You're going to upload to BrightSpace twice for this assignment. 
</p>
<h3>
	First Brightspace Upload 
</h3>
<p>
	Create a PDF of your final piece named 
	<div class="filename">
		Appleseed-Johnny-#-{{ page.title }}.pdf 
	</div>
	<p>
		Don't compress the PDF. Submit it as a PDF. 
	</p>
	<h3>
		Second Brightspace Upload 
	</h3>
	<p>
		Create a folder containing all your working files for all the programs used to create your work: 
	</p>
	<div class="zipfile">
		Appleseed-Johnny-#-{{ page.title }}.zip 
	</div>
	<p>
		Make a second submission with the resulting zip file. 
	</p>
	<p>
		<span class="orange">
			Failure to submit your files as directed will incur a proportional loss of points. If your file/folder is not named with your name, you will earn a zero. 
			<a href="/administration/assessment.html#filenames" title="Why is file naming important?">
				Why? 
			</a>
		</span>
	</p>

	{% elsif page.submission == 'graph-design' %} 
	<p>
		This is what you're going to submit: 
	</p>
	<figure>
		<img src="{{site.baseurl}}/images/illustrator-graph-design/graph-design-submission.jpg" class="100 borderdarkgreen1" alt="graph submission folder structure"> 
		<figcaption>
			If the explanations below seem complicated, just look at this photo. 
		</figcaption>
	</figure>
	<h4>
		Details 
	</h4>
	<p>
		You're going to create your layout in InDesign. Once you're done, package the InDesign document. Start by making sure that your InDesign file is named: 
	</p>
	<div class="filename">
		Appleseed-Johnny-#-graph-design.indd 
	</div>
	<p>
		Create a folder named: 
	</p>
	<div class="foldername">
		Appleseed-Johnny-#-graph-design 
	</div>
	<p>
		Package your InDesign document into this folder. Add the Illustrator file with the live graph to the folder also. Double-check that your folder looks like the one above. 
	</p>
	<p>
		Zip-compress the folder, then submit. 
	</p>
	<div class="zipfile">
		Appleseed-Johnny-#-graph-design.zip 
	</div>
	{% elsif page.submission == 'graph-layout' %} 
	<p>
		This is what you're going to submit: 
	</p>
	<figure>
		<img src="{{site.baseurl}}/images/illustrator-graph-layout/graph-layout-submission.jpg" class="100 borderdarkgreen1" alt="graph submission folder structure"> 
		<figcaption>
			If the explanations below seem complicated, just look at this photo. 
		</figcaption>
	</figure>
	<h4>
		Details 
	</h4>
	<p>
		You're going to create your layout in InDesign. Once you're done, package the InDesign document. Start by making sure that your InDesign file is named: 
	</p>
	<div class="filename">
		Appleseed-Johnny-#-graph-layout.indd 
	</div>
	<p>
		Create a folder named: 
	</p>
	<div class="foldername">
		Appleseed-Johnny-#-graph-layout 
	</div>
	<p>
		Package your InDesign document into this folder. Add the Illustrator file with the live graph to the folder also. Double-check that your folder looks like the one above. 
	</p>
	<p>
		Zip-compress the folder, then submit. 
	</p>
	<div class="zipfile">
		Appleseed-Johnny-#-graph-layout.zip 
	</div>
	{% elsif page.submission == 'unleash-your-inner-vectors' %} 
	<p>
		You need to provide all your work in an organized fashion. 
	</p>
	<p>
		Name your main Illustrator file: 
	</p>
	<div class="filename">
		Appleseed-Johnny-#-vectors.ai 
	</div>
	<p>
		Include the scan/photo of the original hand-rendered drawing + the cleaned up Photohsop image file. 
	</p>
	<figure>
		<img src="/images/illustrator-unleash-your-vectors/vectors-submission.jpg" class="size100 borderdarkgrey1"> 
		<figcaption>
			Double-check that your submission looks like this. 
		</figcaption>
	</figure>
	<p>
		Name the submission folder: 
	</p>
	<div class="foldername">
		Appleseed-Johnny-#-vectors 
	</div>
	{% elsif page.submission == 'travel-book-planning' %} 
	<p>
		Submit a envelope with all the above content. Label the envelope with your name and "Travel Book Planning". 
	</p>
	<p>
		Organize the content in the envelope as if you were submitting this to a client. It should be easy to identify what's what in the package. 
	</p>
	{% elsif page.submission == 'illustrator-variables-summative' %} Submit the original assignment folder renamed: 
	<div class="foldername">
		Appleseed-Johnny-#-{{ page.title }} 
	</div>
	It will contain your: 
	<ul>
		<li>
			Illustrator document 
		</li>
		<li>
			An edited spreadsheet (Numbers, Excel or other) 
		</li>
		<li>
			The exported .csv file 
		</li>
		<li>
			No fonts, because you've used only Adobe Fonts. 
		</li>
		<li>
			The PDFs folder full of PDFs. 
		</li>
	</ul>
	<p>
		Right-click, then choose 
		<span class="command">
			Compress... 
		</span> 
		to create a zip file for submission. So... 
	</p>
	<div class="zipfile">
		Paradis-Alain-1-{{ page.title }}.zip 
	</div>
{% elsif page.submission == 'layered-psds-in-zipped-folder' %} 
<p>
	Once you've completed your work, 
	<mark>
		save your files as a layered native Photoshop (.psd) files 
	</mark>
	. Flattening layers will destroy all the work you've done. 
</p>
<div class="filename">
	Appleseed, Johnny, Group #, Double Exposure1.psd 
</div>
<div class="filename">
	Appleseed, Johnny, Group #, Double Exposure2.psd 
</div>
<div class="filename">
	Appleseed, Johnny, Group #, Double Exposure3.psd 
</div>
<p>
	Put the uncompressed Photoshop files into a folder. Name that folder like this: 
</p>
<div class="foldername">
	Appleseed-Johnny-#-{{ page.title }} 
</div>
<p>
	Zip-compress the folder. It will end up named as follows: 
</p>
<div class="zipfile">
	Appleseed-Johnny-#-{{ page.title }}.zip 
</div>
<p>
	This is what you're to submit. 
</p>
{% elsif page.submission == 'indd-book-package-plus-pdf' %} 
<h3>
	Package Your Book 
</h3>
Save and close all of your book documents. Leave the Book panel open, and click the 
<span class="command">
	Save Book 
</span>
button. Deselect all the documents in the Book panel. Go to the Book panel menu, then click on 
<span class="command">
	Package book for Print... 
</span>
. 
<figure>
	<img class="size75 borderdarkgrey1" alt="package" src="/images/indesign-books-pinocchio/package.jpg"> 
	<figcaption>
		Use the Book panel's Package command to create a folder with all assets. 
	</figcaption>
</figure>
<h3>
	Export a PDF 
</h3>
Go back to your Book panel's menu. Use 
<span class="command">
	Export book to PDF 
</span>
to create a PDF file of your book. This will be your second submission on Brightspace. {% endif %} 